$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #FFFFFF;
$primary-color              : #25AAE1;
$accent-color               : #FFD23F;
$text-color                 : #373737;
$text-muted-color           : #999999;

$grad-color-01              : #FF6B95;
$grad-color-02              : #FFC796;

$custom-google-font         : 'Barlow', sans-serif;
$item-border-radius         : 8px;

$item-media-size            : 80px;
$button-height              : 44px;
$badge-height               : 20px;